.root {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;

  li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 18px;
    color: white;
    border: 1px solid #777;
    border-radius: 7px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
  }
}
