.root {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
  cursor: pointer;

  li {
    display: inline-block;

    a {
      width: 24px;
      height: 18px;
      display: inline-block;
      justify-content: center;
      align-items: center;
      color: white;
      border: 1px solid #777;
      border-radius: 7px;
      font-size: 12px;
      line-height: 16px;
padding-left:8px;
      font-family: "Roboto", sans-serif;
      &:hover {
        background-color: #68cdfe;
        color: black;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #68cdfe;
        color: black;
      }
    }
  }
}
